.contactDataSec {
  @apply lg:col-span-4 col-span-12;
}
.contactData {
  @apply md:mb-8 mb-3;
}
.contactData h4 {
  @apply text-[#0078BD] text-[14px] font-medium;
}
.contactHeader {
  @apply md:text-[36px] md:leading-[40px] md:whitespace-pre-line font-semibold text-[25px] leading-7 xl:w-1/2 lg:w-2/3;
}
.contactData h6 {
  @apply text-[16px] whitespace-pre-wrap ltr:pr-8 rtl:pl-8 rtl:pr-0;
}
.formgrp {
  @apply relative z-0 md:col-auto col-span-2;
}

.contactForm {
  @apply md:pr-10 pr-0 md:mt-0 mt-4;
}
.radioBtn {
    @apply flex items-center col-span-2 gap-8
}
.radioBtn input[type="radio"] {
  --s: 1.5em; /* control the size */
  --c: #F5A604; /* the active color */

  height: var(--s);
  aspect-ratio: 1;
  border: calc(var(--s) / 16) solid #464240;
  padding: calc(var(--s) / 6);
  background: radial-gradient(farthest-side, var(--c) 94%, #0000) 60%/0 0
    no-repeat content-box;
  border-radius: 50%;
  outline-offset: calc(var(--s) / 10);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  font-size: inherit;
  transition: 0.3s;
}
.radioBtn input[type="radio"]:checked {
  border-color: var(--c);
  background-size: 100% 100%;
}

.radioBtn label {
    @apply flex items-center gap-2 font-normal text-[#263036] cursor-pointer
}

.socioHead {margin-bottom: 10px;}