@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #f5a604;
  --bluePrimary: #f0f9ff;
  --blueSecondary: #0078bd;
  --textBlack: #263036;
}

html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.app-container {
  @apply container mx-auto;
}

.app-btn {
  @apply flex w-[200px] px-4 rounded-md h-[60px] leading-[55px] capitalize items-center gap-4 relative;
}
.app-btn.btn-primary {
  background-color: var(--primary);
  border: 2px solid var(--primary);
}
.app-btn.btn-filled {
  background-color: var(--btn-bg-color, transparent);
  color: #fff;
}

.app-btn.btn-filled-stroke {
  border: 2px solid var(--btn-bg-color, transparent);
}

.app-btn.btn-stroke-sec {
  border: 2px solid var(--blueSecondary, transparent);
  color: var(--blueSecondary);
}

.app-btn.btn-blue {
  background-color: var(--bluePrimary);
  color: var(--textBlack);
}
.app-btn.btn-stroke {
  border: 2px solid #fff;
}
.app-btn .right-icon {
  width: 20px;
}
.app-btn .left-icon {
  @apply absolute right-4;
}
html[dir="rtl"] .app-btn {
  @apply flex-row-reverse
}
html[dir="rtl"] .slider-action .app-btn {
  @apply flex-row
}
.header-actions {
  @apply flex justify-between items-center gap-6;
}
.menu-ul {
  @apply flex justify-end flex-1 gap-11;
}
.menu-ul li a {
  font-size: 16px;
  font-weight: 500;
}
.topbar {
  background: var(--blueSecondary);
  @apply flex items-center text-[13px] h-10 text-white relative z-20;
}
.top-bar-content {
  @apply flex justify-end gap-4;
}
.top-contact {
  @apply flex gap-2 items-center;
}
.top-quick-links {
  @apply flex items-center;
}
.top-quick-links ul {
  @apply flex gap-3 items-center;
}
.top-quick-links ul li {
  @apply relative pr-4 last:pr-0;
}
.top-quick-links ul li::after {
  content: "/";
  position: absolute;
  right: 0;
}
.top-quick-links ul li:last-child::after {
  display: none;
}
.logo-fig {
  @apply m-0 h-[100px] w-auto;
}
.logo-fig > img {
  @apply object-contain h-full w-full max-h-full max-w-full object-left;
}
html[dir="rtl"] .logo-fig > img {
  @apply object-right
}
.feature-sec {
  @apply py-12;
}
.feature-card {
  @apply flex items-start gap-3;
}
.feat-icon {
  @apply w-6 h-6 min-w-6 relative top-[5px];
}
.feature-card h3 {
  font-size: 1.2rem;
  font-weight: 400;
}
.right-sec {
  text-align: right;
}
html[dir="rtl"] .link-btn {
margin-right: auto;
margin-left: 0;
flex-direction: row-reverse;
}
.sec-heading h4 {
  font-size: 2rem;
  font-weight: 500;
  color: #373740;
}
.link-btn {
  @apply flex w-fit ml-auto gap-3 items-center border-b-2 border-b-[#0078BD] pb-3;
}
.link-btn img {
  @apply relative left-0 transition-all delay-200 ease-in-out;
}
.link-btn:hover img {
  @apply left-3;
}
.parallax-sec {
  padding-top: 150px;
  padding-bottom: 100px;
  background-image: url("../../assets/bg_parallax.jpg");
  background-size: cover;
  position: relative;
}
.parallax-sec::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  background-color: #000;
}
.parallax-sec-content {
  position: relative;
  z-index: 2;
  color: #fff;
}

.left-sec-content h2 {
  font-size: 42px;
  line-height: 50px;
  font-weight: 500;
}

.why-content h4 {
  @apply font-semibold text-[30px] mb-5;
}

.left-sec-content {
  @apply flex flex-col;
}

.why-content article {
  @apply pr-10 text-[20px] font-light;
}

.count-sec {
  @apply w-[80%] flex justify-between mt-auto;
}

.count-sec h2 {
  @apply font-bold;
}

.sec-padd {
  @apply py-20;
}

.sec-padd-sm {
  @apply py-16;
}

.heading-sec {
  @apply text-center text-[#373740];
}

.heading-sec h3 {
  @apply text-[30px] font-medium;
}

.heading-sec h6 {
  @apply text-[17px] font-light;
}

.pride-sec {
  @apply bg-black text-white h-[550px] flex flex-col justify-center relative overflow-hidden mb-[-100px];
}

.bg-image {
  @apply absolute w-full h-full left-0 top-0;
}

.bg-image img {
  @apply h-full min-h-full w-full min-w-full object-cover object-bottom;
}

.pride-sec h2 {
  @apply text-[46px] font-semibold leading-[50px] mb-4;
}
.pride-content {
  @apply w-1/4 inline-block z-10 relative;
}
.pride-content h6 {
  @apply text-[18px] font-light;
}

.pride-count-cards {
  @apply grid grid-cols-6 gap-4 relative z-10;
}

.about-page .left-sec-content > h2 {
  color: var(--blueSecondary);
}

.checklist {
  @apply flex flex-col gap-4;
}

.checklist li {
  @apply flex justify-start gap-5 text-xl;
}

.large-head {
  @apply text-5xl font-semibold leading-[55px];
}

header {
  box-shadow: 0px 3px 10px #0000000d;
}

header .app-btn {
  width: fit-content;
}

.img-fit {
  @apply w-full h-full min-w-full min-h-full;
}
.img-fit.cover {
  @apply object-cover;
}
.img-fit.obj_center {
  @apply object-center;
}

.aside-chat-option {
  transform: translate(0, -50%);
  width: 60px;
  @apply fixed right-1 top-auto left-auto bottom-10;
}

.blog-image {
  @apply h-[600px] mb-10;
}
.blog-title {
  @apply mb-8;
}
.blog-meta {
  @apply flex gap-2 mb-4 text-[15px];
}

.blog-meta .blog-date {
  color: var(--primary);
  position: relative;
}
.blog-meta span {
  color: #bebebe;
}
.blog-meta .blog-tag {
  color: #464240;
}

.blog-title h4 {
  @apply text-[var(--textBlack)] text-4xl font-medium leading-[40px];
}

/*--- Responsive -----*/
@media only screen and (max-width: 1024px) {
  .app-container {
    padding: 0 30px;
  }
  .header-actions {
    justify-content: flex-end;
  }
  .header-actions .menu-ul {
    display: none;
  }
}


/* --- Footer --- */
.footer {
  background: #263036;
  padding: 55px 0 0 0;
}

.footer .top-sec {
  border-bottom: 1px solid #414141;
  padding-bottom: 40px;
  margin-bottom: 40px;
}

.footer .top-sec h4 { 
  font-size: 2.5rem;
  color: #fff;
  font-weight: 600;
}

.footer-item h3 {
  color: #fff;
  font-weight: 500;
  margin-bottom: 1.5rem;
}

.footer-item {color: #fff;}

.footer-item ul li {
  margin-bottom: 0.5rem;
}

.footer-sec + .footer-sec { margin-top: 1.5rem; }

.footer-sec h5 {
  margin-bottom: 0.8rem;
  font-weight: 500;
}

.copyright-sec {
  border-top: 1px dashed #414141;
  color: #fff;
  padding: 30px 0;
  margin-top: 40px;
}

.swiper-slide { height: auto !important; }

.mySwiper { direction: ltr !important; }

.nav-btn-slider {
  position: absolute;
  top: 50%;
  transform: translate(-50%, 0);
}
.nav-btn-slider.prev-btn{
  left: -30px;
}
.nav-btn-slider.next-btn{
  right: -60px;
}
.active-accordion {
  background-color: #f90;
}